<div class="container">
  <div class="row">
    <div class="col-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let booking of bookings">

          <h3 routerLink="/show" [queryParams]="{a:booking.accommodation.id}">{{booking.accommodation.name}}</h3>
          <p *ngIf="booking.dateStart != null">od {{booking.dateStart.substring(0, 10)}}</p>
          <p *ngIf="booking.dateEnd != null">do {{booking.dateEnd.substring(0, 10)}}</p>
          <p><b>Łączna cena: {{formatNumber(booking.price, 'pl', '0.2-2')}} zł</b></p>
          <p *ngIf="!booking.accepted && !booking.rejected">Oczekuje na potwierdzenie</p>
          <p *ngIf="booking.accepted && !booking.rejected">Potwierdzone</p>
          <p *ngIf="!booking.accepted && booking.rejected">Odrzucone</p>
          <p *ngIf="booking.accepted && booking.rejected">Błąd</p>
          <a class="button" *ngIf="!booking.rejected" routerLink="/booking/edit" [queryParams]="{a:booking.id}"><b><u>Zmień</u></b></a>
          <button class="button" *ngIf="!booking.rejected" (click)="deleteBooking(booking)"><b><u>Anuluj</u></b></button>

        </li>
      </ul>
      <h3 *ngIf="bookings.length == 0">Brak rezerwacji</h3>
    </div>
  </div>
</div>
