.filter {
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
  background-color: #6CED4B;
  color: #fff;
}

.filter__row {
  margin-bottom: 15px;
}

.filter__row label,
.form__price,
.form__input {
  margin-right: 10px;
}

.form__input {
  padding: 5px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.form__input:focus {
  border: none;
}
