<div class="filter">
  <form action="#" class="filter__form form">
    <div class="row">
      <div class="col-12 d-flex justify-content-center filter__row">
        <label for="kraj" class="form__label">
          Kraj
        </label>
        <input type="text" id="kraj" name="kraj" class="form__input">
        <label for="miasto" class="form__label">
          Miasto
        </label>
        <input type="text" id="miasto" name="miasto" class="form__input">
        <label for="date" class="form__label">
          Data wizyty
        </label>
        <input type="date" id="date" name="data" class="form__input">
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center filter__row">
        <span class="form__price">Cena</span>
        <label for="od" class="form__label">
          od
        </label>
        <input type="text" id="od" name="od" class="form__input">
        <label for="od" class="form__label">
          do
        </label>
        <input type="text" id="do" name="do" class="form__input">
        <label for="dostep" class="form__label">
          Dostępne od teraz
        </label>
        <input type="checkbox" id="dostep" name="dostep" class="form__input">
      </div>
    </div>
  </form>
</div>
