<div class="announcement" *ngFor="let accommodation of accommodations">
  <div class="container">
    <div class="row">
      <div class="announcement__inner d-flex">
        <div class="col-4">
          <img *ngIf="accommodation.photos[0]"
               [src]="AppModule.API_ADDRESS + 'photos/' + accommodation.photos[0].name.toString()" width="75%"
               class="announcement__photo">
        </div>
        <div class="col-8">
          <div class="announcement__cart">
            <h3 class="announcement__title" routerLink="/show"
                [queryParams]="{a:accommodation.id}">{{accommodation.name}}</h3>
            <p class="announcement__price"> Cena za noc: {{formatNumber(accommodation.price, 'pl', '0.2-2')}} zł</p>
            <p class="announcement__text">
              {{accommodation.description.substring(0, 200)}}<span
              *ngIf="accommodation.description.length > 200">...</span>
            </p>
            <button class="announcement__btn" routerLink="/show" [queryParams]="{a:accommodation.id}"> Zobacz więcej
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
