<main class="main">
  <div class="container">
    <div class="main__content d-flex flex-column align-items-center">
      <div class="row">
        <div class="col-12">
          <h2 class="main__content-title">Zaloguj się</h2>
        </div>
      </div>
      <div class="form__logging">
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="form d-flex flex-column align-items-center">
          <div class="row">
            <div class="col-12">
              <label>
                Login
              </label>
              <input class="form__logging-item align-self-center" type="text" name="username" [(ngModel)]="username"
                required>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label>
                Hasło
              </label>
              <input class="form__logging-item" type="password" name="password" [(ngModel)]="password" required>
            </div>
          </div>
          <div class="row" *ngIf="error">
            <div class="col-12">
              <p style="color: red">Błędny login lub hasło. Spróbuj ponownie.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button class="form__logging-btn" type="submit">Zaloguj się</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
