<div class="header container-fluid pb-2">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="header__inner d-flex justify-content-between align-items-center">
          <div class="header__link">
            <a routerLink="/"><img class="header__logo" src="../../assets/images/logo.png" alt="logo"/></a>
          </div>
          <div class="header__menu d-flex">
            <nav class="menu">
              <ul class="menu__list d-flex">
                <li class="menu__item">
                  <a routerLink="/">
                    <button class="menu__btn btn">Poszukiwanie</button>
                  </a>
                </li>
                <li class="menu__item">
                  <a routerLink="/about">
                    <button class="menu__btn btn">O nas</button>
                  </a>
                </li>
                <li class="menu__item" *ngIf="!currentUser">
                  <a routerLink="/login">
                    <button class="menu__btn btn">Zaloguj się</button>
                  </a>
                </li>
                <li class="menu__item" *ngIf="!currentUser">
                  <a routerLink="/register">
                    <button class="menu__btn btn">Zarejestruj się</button>
                  </a>
                </li>
                <li class="menu__item" *ngIf="currentUser">
                  <a routerLink="/notifications">
                    <button class="menu__btn btn">Powiadomienia</button>
                  </a>
                </li>
                <li class="menu__item" *ngIf="currentUser">
                  <a routerLink="/dash">
                    <button class="menu__btn btn">Konto</button>
                  </a>
                </li>
                <li class="menu__item" *ngIf="currentUser">
                  <button class="menu__btn btn" (click)="logout()">Wyloguj się</button>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__line"></div>
</div>
