main {
}

.profile__name {
  margin: 70px 0px 50px;
}

.dashboard__link {
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 15px;
  padding: 10px 25px;
  background-color: #6CED4B;
  color: #000;
  text-decoration: none;
}
