.btn-here {
  margin: 10px;
  text-align: center;
  color: red;
  display: block;
}

.flex-direction {
  display: flex;
  justify-content: center;
  align-items: center;
}

.announcement__text{
  margin-left: 10px;
}

.announcement__btn{
  border-radius: 5px;
  border: none;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 10px 25px;
  background-color: #6CED4B;
  color: #000;
  text-decoration: none;
}

.announcement__inner {
  padding: 15px;
  border: 1px solid #000;
}

