<div class="container">
  <div class="row">
    <div *ngIf="deletionErrorAccommodationName" style="color: red">
      Nie można usunąć ogłoszenia {{deletionErrorAccommodationName}}: są powiązane z nim rezerwacje.
    </div>
  </div>
  <div class="row">
    <div class="announcement__cart" *ngFor="let accommodation of accommodations">
      <div class="announcement__inner d-flex">
        <div class="col-4">
          <img alt="Główne zdjęcie" *ngIf="accommodation.photos[0]"
               [src]="AppModule.API_ADDRESS + 'photos/' + accommodation.photos[0].name.toString()" width="80%"
               class="announcement__photo">
        </div>
        <div class="col-8">
          <h3 routerLink="/show" [queryParams]="{a:accommodation.id}" style="cursor: pointer">{{accommodation.name}}</h3>
          <p class="announcement__price">Cena za noc: {{formatNumber(accommodation.price, 'pl', '0.2-2')}} zł</p>
          <p class="announcement__text">{{accommodation.description.substring(0, 200)}}<span
            *ngIf="accommodation.description.length > 200">...</span></p>
          <button class="announcement__btn" routerLink="/show" [queryParams]="{a:accommodation.id}"> Zobacz więcej
          </button>
          <button class="announcement__btn" routerLink="/edit" [queryParams]="{a:accommodation.id}"> Edytuj</button>
          <button class="announcement__btn" (click)="deleteAccommodation(accommodation)"><b><u>Usuń</u></b></button>
        </div>
      </div>
    </div>
    <h3 *ngIf="accommodations.length == 0">Brak ogłoszeń</h3>
  </div>
</div>
