<div class="form__profile">
  <div class="row">
    <div class="col-3">
      Nazwa:
    </div>
    <div class="col-3">
      <div class="form__div_style">
        <input class="form__input_style" type="text" name="name" [(ngModel)]="name" >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      Opis:
    </div>
    <div class="col-3">
      <div class="form__div_style">
        <input class="form__input_style" type="text" name="description" [(ngModel)]="description">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      Cena:
    </div>
    <div class="col-3">
      <div class="form__div_style">
        <input class="form__input_style" type="text" name="price" [(ngModel)]="price">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      Ulica i numer domu:
    </div>
    <div class="col-3">
      <div class="form__div_style">
        <input class="form__input_style" type="text" name="street" [(ngModel)]="street" >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      Miasto:
    </div>
    <div class="col-3">
      <div class="form__div_style">
        <input class="form__input_style" type="text" name="city" [(ngModel)]="city">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      Państwo:
    </div>
    <div class="col-3">
      <div class="form__div_style">
        <input class="form__input_style" type="text" name="country" [(ngModel)]="country">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      Zdjęcie:
    </div>
    <div class="col-3">
      <div class="form__div_style">
        <input class="form__input_style" type="file" multiple="multiple" name="photo" (change)="handleFileInput($event)" >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="form__logging-btn" type="submit" (click)="onSubmit()">Dodaj</button>
    </div>
  </div>
  <br>
  <div *ngIf="id" class="row">
    <div>
      <a routerLink="/show" [queryParams]="{a:id}">Ogłoszenie</a> zostało dodane. <a routerLink="/edit" [queryParams]="{a:id}">Edytuj</a>
    </div>
  </div>
</div>
