<div class="container pt-5" *ngIf="accommodation">
  <div class="row">
    <div class="col-3">
      <div *ngFor="let photo of accommodation.photos">
        <img id="img_icon" (click)="openModal(AppModule.API_ADDRESS + 'photos/' + photo.name)" [src]="AppModule.API_ADDRESS + 'photos/' + photo.name" width="80%">
        <div id="modal" class="modal modal_trigger">
          <span class="close" (click)="closeModal()">&times;</span>
          <img class="modal-content" id="img">
        </div>
      </div>
    </div>
    <div class="col-9">
      <h2>{{accommodation.name}}</h2>
      <p><b>Cena za noc: {{formatNumber(accommodation.price, 'pl', '0.2-2')}} zł</b></p>
      <p><b>Właściciel: {{accommodation.host.firstName}}</b></p>
      <p class="mb-5">{{accommodation.description}}</p>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <form class="form_home d-flex align-items-center justify-content-center flex-column" *ngIf="user"
              (submit)="addBooking()" #bookingForm="ngForm">
          <div class="form-group d-flex align-items-center">
            <label for="date_1">Od</label>
            <input type="date" [(ngModel)]="dateStart" name="dateStart" class="form-control" id="date_1">
            <label for="date_2">Do</label>
            <input type="date" [(ngModel)]="dateEnd" name="dateEnd" id="date_2" class="form-control">
          </div>
          <p *ngIf="error" style="color: red">Błędna data</p>
          <p *ngIf="success" style="color: green">Zarezerwowano</p>
          <button type="submit" class="btn" (click)="refreshErrorAndSuccess()">Zarezerwuj</button>
        </form>
      </div>
    </div>
    <div class="row bookings">
      <h5 *ngIf="bookings && bookings.length > 0">Zarezerwowane w terminach: </h5>
      <ul class="list-group" *ngIf="bookings && bookings.length > 0 && accommodation.host.id != user.id">
        <li class="list-group-item" *ngFor="let booking of bookings">
          <p *ngIf="booking.dateStart && booking.dateEnd">{{booking.dateStart.substring(0, 10)}} - {{booking.dateEnd.substring(0, 10)}}</p>
        </li>
      </ul>
      <ul class="list-group" *ngIf="bookings && bookings.length > 0 && accommodation.host.id == user.id">
        <li class="list-group-item" *ngFor="let booking of bookings">
          <p *ngIf="booking.dateStart && booking.dateEnd">{{booking.user.firstName}} {{booking.user.lastName}}: <br/>{{booking.dateStart.substring(0, 10)}} - {{booking.dateEnd.substring(0, 10)}}</p>
          <button class="btn" (click)="deleteBooking(booking)">Anuluj</button>
        </li>
      </ul>
    </div>
  </div>
</div>
